// $bg: rgb(255, 245, 239);
// $navbar: rgb(98, 155, 226);
// $letter: rgb(34, 34, 34);
// $destaque: rgb(255, 221, 89);

// $bg: rgb(34, 34, 34);
// $navbar: rgb(255, 170, 0);
// $destaque: rgb(100, 149, 237);
// $letter: rgb(255, 255, 255);

// $bg: rgb(20, 20, 20);
// $navbar: rgb(255, 204, 0);
// $destaque: rgb(100, 149, 237);
// $letter: rgb(240, 240, 240);

$bg: rgb(20, 20, 20);
$navbar: rgb(255, 204, 0);
$destaque: rgb(186, 85, 211);
$letter: rgb(240, 240, 240);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

body {
    background: $bg;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: $letter;
}

h2 {
    color: $letter;
}

.container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    width: 100%;    
    background-color: $navbar;
    position: fixed;
    z-index: 1;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 40px;

    a {
        text-decoration: none;
        color: $letter;
        border-radius: 10px;
    }

    a:hover {
        cursor: pointer;
        background-color: $destaque;
        color: black;
        font-size: 17px;
        padding: 6px;
        transition: .3s;
    }
}

.container #first-part {
    display: flex;
    height: 650px;
    align-items: center;

    img {
        border-radius: 5%;
        width: 300px;
        height: 232.5px;
        // this margin settled to 80 makes the image static
        margin: 0 80px;
    }

    .lside {
        width: 1000px;
        margin: 0 60px;
        letter-spacing: .5px;
        width: 100%;
        
        h1 {
            font-size: 38px;
            font-weight: 500;
            color: $letter;

            .nome {
                color: $destaque;
                font-weight: 700;
            }
        }
    }
}

.container #second-part {
    display: flex;
    align-items: center;
    height: 400px;

    img {
        border-radius: 5%;
        width: 300px;
        height: 252.5px;
        margin: 0 80px;
    }

    h3 {
        font-size: 32px;
        color: $letter;
    }

    .lside-two {
        width: 1000px;
        margin: 0 60px;
        letter-spacing: .5px;
        width: 100%;
    }
}

.container #third-part {
    width: 1400px;
    margin: auto;
    margin-top: 100px;

    ul {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        background-color: $destaque;
        border-radius: 25px;
    }

    li {
        width: 50%;
        display: flex;
        height: 100px;
        padding-left: 5%;
        position: relative;
        align-items: center;
        font-weight: 600;
    }

    .exp-profissional {
        margin-left: 80px;
    }

    img {
        position: absolute;
        height: 60px;
        width: 60px;    
    }
}

.container #fourth-part {
    margin-top: 100px;
    height: 800px;

    .ifpr-sec {
        display: flex;
        align-items: center;
        height: 400px;
    }

    .positivo-sec {
        display: flex;
        align-items: center;
        height: 400px;

        .lside-four-pos {
            margin: 0 60px;
            padding-left: 300px;
            width: 100%;
        }
    }
    
    img {
        border-radius: 5%;
        width: 300px;
        height: 252.5px;
        margin: 0 80px;
    }

    .rside-four {
        width: 1000px;
        letter-spacing: .5px;
    }
}

.container #fifth-part {
    width: 1400px;
    margin: auto;

    .skill {
        display: flex;
        align-items: center;
        font-size: 28px;
        background: $destaque;
        border-radius: 25px;
        margin-top: 20px;
        width: 1400px;
        height: 100px;
        padding: 0 30px;
    }

    p {
        color: black;
        padding-left: 20px;
        font-weight: 600;
    }

    img {
        height: 70px;
        width: 70px;
    }
}

.container .redes-sociais {
    margin-top: 100px;
    text-align: center;
    color: $letter;
    width: 100%;
    background-color: $navbar;
    padding: 10px 0;

    h3 {
        font-size: 32px;
        font-weight: 600;
    }

    ul {
        display: flex;
        list-style-type: none;
        justify-content: center;
        gap: 200px;
        padding-top: 10px;

        img {
            height: 50px;
            width: 50px;
        }
    }
}

@media (max-width: 890px) {
    .container .navbar {
        position: sticky;
        padding: 10px;
        height: auto;
    }

    .navbar ul {
        padding-left: 15px;
    }

    .container #first-part, 
    .container #second-part, 
    .container #fourth-part, 
    .container #third-part {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .lside-four-pos p {
        width: 300px;
        transform: translateX(-300px);
    }

    .rside-four-pos img {
        transform: translateX(-300px);
    }

    .rside img, .rside-two img {
        padding-top: 20px;
    }

    #third-part ul {
        flex-direction: column;
        align-items: center;
        width: 60%;
        margin-left: 12px;
    }

    #third-part li {
        margin: 20px 0;
    }

    .container #fifth-part .skill {
        width: 60%;
        margin-left: 12px;
    }
}